* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
:root{
    scroll-behavior: smooth; /* esto logra que al hacer click en algun objeto del menu de navegación la pagina baje hasta ahi! */
}

body {
    font-family: 'nunito', sans-serif;
    font-weight: 100;
}

.contenedor {
    width: 90%;
    max-width: 1200px;
    overflow: hidden;
    /*esto es para que todo lo que esta fuera del contenedor se oculte */
    margin: auto;
    padding: 60px 0;
}
header {
    height: 100vh;
    background-image: linear-gradient(to right, rgba(61, 60, 57, 0.452) 0%, rgba(63, 60, 58, 0.107) 100%), url(../recursos/estanciaInicio1.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
}
.head{
    text-align: center;
    padding: 0;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color: white;
}
.hamburger{
    position: fixed; /* esto hace que un objeto quede fijo en la página aunque nosotros hagamos scroll */
    top: 30px;
    right: 30px;
    background: white;
    width: 40px;
    height: 40px;
    cursor: pointer; /* hace que al posar el mouse se cambie a la manito */
    border-radius: 10px;
    box-shadow: 0 0 6px rgba(0, 0, 0, .5);
}

.menuNavegacion{
    position: fixed;
    top: 0;
    right: 0;
    width: 30vw;
    height: 100%;
    background-image: linear-gradient(to top, #281606 0%, #503409 100%);
    display: flex;
    flex-direction: column; /* para que estén uno debajo del otro */
    justify-content: space-evenly; /* los centrará verticalmente */
    align-items: center;
    transform: translate(110%);
    box-shadow: 0 0 6px rgba(0, 0, 0, .5);
}

.spread{
    transform: translate(0); /* esto es para que los elementos aparezcan */
}

.menuNavegacion a{
    color: rgb(255, 255, 255);
    text-decoration: none;
}
.tituloIndex{
    font-family: 'Open Sans', sans-serif;
    color: rgb(255, 255, 255);
    font-size: 60px;
    margin-bottom: 15px;
    text-align: center;
}
.subtituloIndex{
    font-family: 'Open Sans', sans-serif;
    color: rgb(255, 255, 255);
    font-size: 40px;
    font-weight: 300;
}

/*   Servicio   */

.subtitulo{
    text-align: center;
    font-weight: 300;
    color: rgb(0, 0, 97);
    margin-bottom: 40px;
    font-size: 40px;
}
.contenedorServicio{
    display: flex;
    justify-content: space-evenly; /* Espacio equitativo en el eje horizontal */
    align-items: center;
    flex-wrap: wrap; /* si en algun momento no entran mas, que se pasen abajo */
    font-size: 20px;
    text-align: left;
}
.contenedorServicio img{
    width: 40%;
}
.checkListCostumer{
    width: 45%;
}
.imagenHabitaciones{
    border-radius: 10px;
    box-shadow: 0 0 6px rgba(0, 0, 0, 10);
}
.service{
    margin-bottom: 20px;
}
.nService{
    margin-bottom: 7px;
    color: rgb(0, 0, 0);
}
.number{
    display: inline-block;
    background-image: linear-gradient(to top, #000000 0%, #635437 100%); 
    width: 32px;
    height: 32px;
    color: white;
    text-align: center;
    border-radius: 50%;
    font-weight: 700;
    line-height: 30px;
}

/* PORTAFOLIO */


.portafolio{
    background: #f2f2f2;
    height: 100vh;
}
.contenedorGaleria{
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;

}
.imgGaleria{
    object-fit: cover;
    width: 32%;
    display: flex;
    margin-bottom: 15px;
    box-shadow: 0 0 6px rgba(0, 0, 0, .5);
    cursor: pointer;  
}

.imagenLight{
    position: fixed;
    background: rgba(0, 0, 0, 0.6);
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    transform: translate(100%);
    transition: transform .2 ease-in-out;
}
.show{
    transform: translate(0);
}

.agregarImagen{
    object-fit: cover;
    width: 60%;
    border-radius: 10px;
    transform: scale(0);
    transition: .3s .2s;
    
}
.showImage{
    transform: scale(1);
}
.close{
    position: absolute;
    top: 15px;
    right: 15px;
    width: 40px;
    cursor: pointer;

}

/* CONTACTANOS : */

.SobreMi2{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
    a{
    color: #000000;
    font-size: 20px;
}
}
.contSobreMi{
    width: 30%;
    text-align: center;
    margin-bottom: 20px;
}
.contSobreMi img{
    width: 30%;
    display: block;
    margin: 0 auto;
}

.nExpert{
    display: inline-block;
    margin-top: 20px;
    width: 100%;
    font-weight: 400;
}
footer{
    background: #3f2809;
    padding-bottom: 0.1px;
}
.footerContent{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    padding-top: 60px;
    padding-bottom: 40px;
}
.contactUs{
    width: 40%;
    color: white;
}
.brand{
    font-weight: 500;
    font-size: 40px;
}
.brand+p{
    font-weight: 500;
}
.socialMedia{
    width: 50%;
    display: flex;
    justify-content: flex-end;
}
.socialMediaIcon{
    display: inline-block;
    margin-left: 20px;
    width: 50px;
    height: 50px;
    border: 1px solid #fff;
    border-radius: 50%;
    text-align: center;
    color: #fff;
}
.socialMediaIcon:hover{
    background: #fff;
    color: #0078d3;
}

.socialMediaIcon img{
    font-size: 30px;
    line-height: 60px;
}
.line{
    width: 90%;
    max-width: 1200px;
    margin: 0 auto;
    height: 2px;
    background: #fff;
    margin-bottom: 60px;
}
.derechosReservados{
    color: #6c6a66;
    text-align: center;
}
.logoLaMorena{
    width: 40px;
    margin-bottom: 30px;
}
/* responsive */
@media screen and (max-width:800px){
    .menuNavegacion{
        width: 50vw;
    }
    .tituloIndex{
        font-size: 40px;

    }
    .contenedorServicio img{
        width: 80%;
        margin-bottom: 40px;
    }
    .checkListCostumer{
        width: 80%;
    }
    .service{
        margin-bottom: 40px;
    }
    .agregarImagen{
        width: 80%;
    }
    .imgGaleria{
        width: 45%;
    }
    .contSobreMi{
        width: 80%;
    }
    .footerContent{
        justify-content: center;
    }

    .socialMedia{
        width: 80%;
        justify-content: space-evenly;
    }
    .socialMedia img{
        margin-left: 0;
    }
    .contactUs{
        text-align: center;
        width: 80%;
        margin-bottom: 40px;
    }

}


